:root{
    --box-shadow: ;
    --white:white;
    --Very-Pale-Cyan:hsl(193, 100%, 96%);
    --Grayish-Blue:hsl(208, 11%, 55%);
    --Very-Dark-Cyanh:hsl(192, 100%, 9%);
    --box-shadow:1px 1px 9px 0px rgb(189 183 188 / 65%);
    --pink:hsl(322, 100%, 66%); 
}

*{
    margin: 0;;
    padding: 0%;
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    padding: 0;
    margin: 0;
}

.wrapper{
    width: 100%;
    display: grid;
}

 
.top_container{
    background: url("/images/bg-hero-desktop.svg");
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr; 
    background-size: auto;  
}


.top_container,.li_logo,.list_boxes{

    padding: 30px 40px;

}
header{
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

header button{

    justify-self: end;
    width: 200px;
    background-color: var(--white);
    color: var(--Very-Dark-Cyanh);
    border-radius: 25px;
    border: 2px solid #e7e7e7;
    padding: 7px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    box-shadow: var(--box-shadow);
    cursor: pointer;
      
}

 

.top_container_sec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 170px;
}

.left_sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    flex-wrap: wrap;
}


.left_sec h1{
    padding-bottom: 25px;
}

.left_sec p{
    padding-bottom: 25px;
    font-size: 16px;
}
.left_sec button{
    padding-bottom: 15px; 
}
.btn{
    background-color: var(--pink);
    color: var(--white);
    border-radius: 25px;
    border: none;
    transition: all 0.3s ease-in-out;
    padding: 15px 85px;
    /* margin-bottom: 15px; */
    cursor: pointer;
    font-weight: 700;
}

.right_sec img{
    width: 100%;
}

/* Second Container */

.box_p{
    
   padding: 0px 40px;

}
.box-h{
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.second_container{ 
    width: 90%;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    color: var(--Very-Dark-Cyanh);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
    
}

.box-2 img{
width: 100%;

}

/* third_container */

.third_container{
    width: 90%;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    color: var(--Very-Dark-Cyanh);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;

}

.box-3 img{
    width: 100%;
    
    }
/* fourth_container */
    .fourth_container{
    width: 90%;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    color: var(--Very-Dark-Cyanh);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    }

    .box-4 img{
        width: 100%;
        
        }

    .box-5 img{
            width: 100%;
            
            }
    .box-6 img{
                width: 100%;
                
                }
        /* fifth_container */

        .fifth_container{
            margin-top: 200px;
            background-color: var(--Very-Dark-Cyanh);
            color: var(--white);
            display: flex;
            flex-direction: column;
            position: relative;
            font-family: 'Poppins', sans-serif;
        }

        .list_boxes{
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            font-family: 'Poppins', sans-serif;
            line-height: 1.6rem;
            font-size: 15px;
            
        }

        .list_li li{
            padding-bottom: 10px;
        }
        .list_box4{
            display: flex;
            flex-direction: column;
        }
        
        .social_icons img{
            width: 30px;
            height: 30px;
        }
        .social_icons a{
            padding: 0 10px;
            display: inline-block;
        }
        .list_box4 p{
         padding-top: 90px;
        }

        


        /* over_lay-box */

        .overlap_container{
            position: relative;
            padding: 90px;
        }

        .overlay_box{
            background-color: var(--white);
            width: 45%; 
            padding: 30px 30px;
            color: var(--Very-Dark-Cyanh);
            text-align: center;
            border-radius: 10px;
            box-shadow: var(--box-shadow);
            position: absolute;
            top: -18%;
            left: 27%;    
            
        }

        .overlay_box button{
            margin-top: 30px;
            box-shadow: var(--box-shadow);
        }

        
        .li_logo{
            padding-top: 90px;
        }


        /* Media Query */

        

    
        @media(max-width: 576px) { 
             .wrapper{  
                display: grid;
                grid-template-columns: 1fr;
            } 
            
             header{
                padding-bottom: 30px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                
            } 

              header img{
                width: 150px;
                height: 26px;
            }  

             header button{
                padding: 7px 10px;
                width: 110px;
                font-size: 12px;
            } 

             .top_container_sec{
                display: grid;
                grid-template-columns: 1fr;
            } 
             .left_sec{
                 text-align: center;
                 display: flex; 
                 flex-direction: column;
                 align-items: center;
                 margin-bottom: 30px;
                 
            } 

            .left_sec h1{
                font-weight: 600;
            }

             .left_sec p{
                font-size: 12px;
                line-height: 1.5rem;
            } 

             .second_container{
                margin-top: 70px;
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: center; 
                display: flex; 
                flex-direction: column;
                font-size: 12px;
                padding: 33px 33px;
                
             }

             .box-1{
                order: 2;

             }

            .box-2{
                order: 1;
            } 


             .third_container{
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: center; 
                display: flex; 
                flex-direction: column;
                font-size: 12px;
                padding: 33px 33px;
               
             }
             .fourth_container{
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: center; 
                display: flex; 
                flex-direction: column;
                font-size: 12px;
                padding: 33px 33px;
            
             }
             .box-5{
                order: 2;

            }

            .box-6{
                order: 1;
            } 

            .box_p{
                font-size: 15px;
            }
            .overlay_box{
                width: 90%;
                padding: 35px 0px;  
                top: -17%;
                left: 5%;   
    
            }

            .overlay_box h2{
                font-size: 18px;
            }

            .list_boxes{
                display: grid;
                grid-template-columns: 1fr;
                font-size: 12px;
            }

            .list_box4{
                align-items: center;
            }

            .list_box4 p {
                padding-top: 28px;
            }

            .attribution p{
                font-size: 12px;
            }
        }
        


        @media(max-width: 414px){

            header img {
                width: 93px;
                height: 17px;
            }
            header button {
                padding: 3px 15px;
                width: 95px;
                font-size: 0.6rem;
            }
            .left_sec h1{
                font-size: 1.5rem;
                font-family: "Poppins", sans-serif;
                font-weight: 600;
            }

            .left_sec p{
                font-size: 11px;
                font-weight: 400;
            }
            .attribution {
                font-size: 13px;
        }

    }


    @media(max-width: 412px){
        .left_sec p {
            font-size: 10px;

    }
    .attribution {
        font-size: 11px;
    }
    
    }
    @media(max-width: 375px){
        .left_sec p{
            font-size: 9px;
    }

    .btn {
        padding: 11px 81px;
    }

}